@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:ital,wght@1,300;1,600&display=swap");

:root {
  --DarkRed: #b80000;
  --Black: #000000;
  --Gold: #ffd700;
  --White: #ffffff;
}
